
#drug-history-header {
    color: white;
}

.container{
    margin-left: 18px;
}
.panel-header{
    height:90px;
    margin-bottom: 60px;
}

.card-body p:last-of-type{
    margin-bottom: 2px;
}
.card-footer{
    margin-top: 2px;
}