<div class="panel-header panel-header-lg">
    <div class="container">
        <h3 id="drug-history-header">Drug History</h3>
    </div>
</div>

<div class="main-content">
    <div *ngIf="drugHistoryElements" class="row">
        <div *ngFor="let historyElement of drugHistoryElements" class="col-12">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Drug Details</h5>
                    <h4 class="card-title">{{historyElement.title}}</h4>
                    <div ngbDropdown>
                        <button type="button"
                                class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret"
                                ngbDropdownToggle>
                            <i class="now-ui-icons loader_gear"></i>
                        </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
